html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 18px;
}

.img {
  max-width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

h1 {
  color: red;
}

svg {
  border: 1px solid #dddddd;
}

span {
  color: red;
}

.canvas {
  width: 420px;
  height: 500px;
  fill: #6771c8;
}
